= simple_form_for (@page.is_root? ? [:admin, @page] : [:admin, @parent_page, @page]) do |f|
  = f.input :title, :wrapper_html => {:class => 'title'}
  - if f.object.slug_editable?
    = f.input :slug, :label => 'Permalink', :wrapper_html => {:class => 'slug'}
  - else
    = f.label :permalink
    %p
      = "/"

  %button{:type => 'submit'}
    Save