.section
  %table.fields
    %thead
      %tr
        %th Name
        %th Type
        %th
    %tbody
      %tr
        %td page title
        %td short text
        %td
      %tr
        %td permalink
        %td short text
        %td
      - @fields.each do |f|
        %tr{:id => "field_#{f.id}"}
          %td= f.name
          %td= f.human_field_type
          %td
            = link_to "edit", edit_admin_field_path(f)
            |
            = button_to "remove", admin_field_path(f), :method => "delete"

.section
  = render 'form', :field => @field, :tpl => @tpl