!!!
%html
  %head
    %title Genesis
    = csrf_meta_tag
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
  %body
    #header
      #menu
        %ul
          - main_menu.each do |mi|
            %li{:class => ('active' if current_menu_item.path.include?(mi))}
              = link_to mi.title, mi.uri
        .clear
      #user_menu
        %div
          Welcome,
          = link_to current_user.name, edit_user_registration_path
          |
          = link_to "Sign out", destroy_user_session_path
      .clear
    #crumbs
      %ul
        - crumbs.each do |mi|
          %li= link_to mi.title, mi.uri
        %li.last= current_menu_item.title
      .clear
    #content
      #main
        #main_inner
          - if flash.notice || flash.alert
            #flash
              - if flash.notice
                .notice= raw(flash.notice)
              - if flash.alert
                .alert= raw(flash.alert)
          = yield
      #sidebar
        #sidebar_inner
          = yield :sidebar
          - if current_menu.present?
            %h3 Menu
            %ul
              - current_menu.each do |mi|
                %li= link_to mi.title, mi.uri
      .clear
    #footer
      [footer]