!!!
%html
  %head
    %title Genesis
    = csrf_meta_tag
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
  %body
    #menu
      %ul
        %li= link_to "Theme", admin_theme_path
        %li= link_to 'Sign out', destroy_user_session_path
        -# main_menu.each do |title, path|
          %li=# link_to title, path
      .clear
    #content
      #main
        #main_inner
          - if flash.notice
            .flash.notice= raw(flash.notice)
          - if flash.alert
            .flash.alert= raw(flash.alert)
          = yield
      #sidebar
        #sidebar_inner
          = yield :sidebar
          %ul
            -# sub_menu.each do |title, path|
              %li=# link_to title, path
      .clear
    #footer
      [footer]