!!!
%html
  %head
    %title Genesis
    = csrf_meta_tag
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
  %body
    #menu
      %ul
        - main_menus.each do |menu|
          %li{:class => ('active' if current_menu.path.include?(menu))}
            = link_to menu.object.title, menu.object.path
        %li= link_to "Sign out", destroy_user_session_path
      .clear
    #crumbs
      %ul
        - crumbs_menu_link.each do |link|
          %li= link_to link.title, link.path
        %li.last= current_menu.object.title
      .clear
    #content
      #main
        #main_inner
          - if flash.notice || flash.alert
            #flash
              - if flash.notice
                .notice= raw(flash.notice)
              - if flash.alert
                .alert= raw(flash.alert)
          = yield
      #sidebar
        #sidebar_inner
          = yield :sidebar
          %h3 Menu
          %ul
            - current_menu_links.each do |link|
              %li= link_to link.title, link.path
      .clear
    #footer
      [footer]