!!!
%html
  %head
    %title Genesis
    = csrf_meta_tag
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
  %body
    #content
      #main
        #main_inner
          - if flash.notice || flash.alert
            #flash
              - if flash.notice
                .notice= raw(flash.notice)
              - if flash.alert
                .alert= raw(flash.alert)
          .section
            = yield
      #sidebar
      .clear
    #footer
      [footer]